<html>
    <head>
        <title>{{title}}</title>
        <script type="module">import * as library from './static/__target__/library.js'; window.library = library;</script>
    </head>
    <body>
        <h1>Welcome to {{title}}</h1>
        <p>
        	In this project you will enter some random number and sort them.
        </p>
        <p>
        	<div id="generate">Enter a sequence of numbers separated by a comma (","):</div>
        	## Enter the code here to create a Text Input. ##
        </p>
        <p>
        	<div id="sorted">...</div>
        	<button onclick="library.sortnumber2()">Sort</button>
        </p>
        <br><a href="index">Home</a>

    </body>
</html>
