[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
transcrypt = "*"
bootstrap-flask = "*"
importlib-resources = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3"
